.idea/
venv/
env/
__pycache__/
parameters/

.DS_Store

asset_hound/local_settings.py
asset_hound/asset_hound_uwsgi.ini
asset_hound/uwsgi_params

*.swp
*.pyc
TODO
*NOTES
NOTEBOOK
notes.txt

data/
media/
static/

assets/management/extra/parameters/
