/* #e63946;*/
/* #f1faee;*/
/* #a8dadc;*/
/* #457b9d;*/
/* #1d3557;*/



.typography-h1 {
  font-size: 4rem;
  margin-top: 0;
  color: #457b9dff
}

.typography-h2 {
  font-size: 1.8rem;
  color: #1d3557ff;
}

.typography-h3 {
  display: inline-block;
  font-size: 2rem;
  margin: 0;
  color: #1d3557ff;
}

.typography-h4 {
  font-size: 2rem;
  margin: 0;
  color: #1d3557ff;
}

.typography-h5 {
  display: inline-block;
  font-size: 2rem;
  margin: 0;
  color: #1d3557ff;
}


