<!doctype html>
<html lang="en">

<head>
    <title>Asset Updater/Merger</title>
</head>

<body>
Upload a merge-instructions CSV file here to attempt to execute asset merges (specifying Asset field values and linking the corresponding RawAsset records to the merged Asset instance).

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>

{% if results %}
    {{ results }}
    There should also be a "Yes, complete the update" button.
{% endif %}
</body>

</html>
