<!doctype html>
<html lang="en">

<head>
    <title>Asset Updater/Merger</title>
</head>

<body>
Upload a merge-instructions CSV file here to attempt to execute asset merges (specifying Asset field values and linking the corresponding RawAsset records to the merged Asset instance).
<details>
    <summary>Documentation</summary>
    <ul>
        <li>To create a new Location (instead of linking to the Asset's default Location), include a field called <code>location_id<code> and make its value blank for the Asset which needs a new location. This is useful when splitting up a Location to which multiple Assets are incorrectly pointing. [The same trick works for Organizations by using a blank <code>organization_id</code> field.]
    </ul>
</details>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form }}<P>
        <button type="submit" name="validate">Validate</button>
        <button type="submit" name="update">Update assets</button>
    </form>

{% if results %}
    {% for result in results %}
        {{ result | safe }}<br>
    {% endfor %}

{% endif %}
</body>

</html>
