<!doctype html>
<html lang="en">

<head>
    <style>
        {% if asset_based %}
            body {background-color: #AC7660;}
        {% else %}
            body {background-color: white;}
        {% endif %}
    </style>

    <title>Asset Updater/Merger</title>
</head>

{% if asset_based %}
    <h1>Asset-based Asset Updater</h1>
    <small><a href="/edit/update-assets/using-raw-assets/">Switch to RawAsset-based updater</a></small><br>
    Upload a merge-instructions CSV file here to attempt to execute asset merges and other edits (specifying Asset field values).
{% else %}
    <h1>RawAsset-based Asset Updater</h1>
    <small><a href="/edit/update-assets/using-assets/">Switch to Asset-based updater</a></small><br>
    Upload a merge-instructions CSV file here to attempt to execute asset merges and other edits (specifying Asset field values and linking the corresponding RawAsset records to the merged Asset instance).
{% endif %}
<details>
    <summary>Documentation</summary>
    <ul>
        {% if asset_based %}
        <li>The <code>id</code> field should give the Asset ID.</li>
        <li>When <code>ids_to_merge</code> is blank, the Asset with ID <code>id</code> gets delisted.</li>
        <li>When <code>ids_to_merge</code> is <code>A+B+C</code> and <id> == <code>B</code>, the Assets with ID <code>A</code> and <code>C</code> get delisted and their RawAssets get reassigned to the Asset with ID <code>B</code>.</li>
        <li>The <code>asset_id</code> field should either be empty or absent.
        {% endif %}
        <li>To create a new Location (instead of linking to the Asset's default Location), include a field called <code>location_id</code> and make its value blank for the Asset which needs a new location. This is useful when splitting up a Location to which multiple Assets are incorrectly pointing. [The same trick works for Organizations by using a blank <code>organization_id</code> field.]</li>
        <li>The <code>location_id</code> field can also be used to reassign an Asset to a different existing location. (There is currently only the basic 'Validate' validation in place to make sure this option does not accidentally overwrite the wrong Location, so please use this carefully.)
        <li>Set <code>iffy_geocoding</code> to True to indicate that a particular Asset's geocoordinates should be reviewed later to check them or make them more precise.</li>
    </ul>
</details>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form }}<P>
        <button type="submit" name="validate">Validate</button>
        <button type="submit" name="update">Update assets</button>
    </form>

{% if results %}
    {% for result in results %}
        {{ result | safe }}<br>
    {% endfor %}

{% endif %}
</body>

</html>
